//
body{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding-top: 40px;
}

.vn_player{

	position: relative;
	width: 30%;

	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	flex: 0 1 auto;
	// margin-top: 20px;
	margin-bottom: 40px;
	align-self: center;

	&.grayscale{
		video { filter: grayscale(100%) };
	}
	&.invert{
		video { filter: invert(100%); }
		img{
			transition: 0.6s;
		}
	}

	video{
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 2;
		display: block;
		cursor: pointer;
	}

	img{
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		z-index: 3;
		opacity: 1;
		transition: 0.5s;
		top: 0;
		pointer-events: none;
	}

	&.playing{
		img{
			opacity: 0;
		}
	}

}
